@layer components {
	.button {
		@apply inline-flex items-center justify-center gap-2 rounded-none text-center text-xs font-medium leading-4 transition-colors;

		padding-block: calc(var(--spacing) * 3);
		padding-inline: calc(var(--spacing) * 4);
	}

	.button[disabled],
	.button[aria-disabled='true'] {
		@apply cursor-not-allowed opacity-40;
	}

	.button--primary {
		@apply border;

		border-color: var(--color-button);
		background-color: var(--color-button);
		color: var(--color-button-text);
	}

	.button--primary:not([disabled]):hover,
	.button--primary:not([disabled]):focus-visible {
		background-color: var(--color-button-text);
		color: var(--color-button);
	}

	.button--secondary {
		@apply border bg-transparent;

		border-color: var(--color-foreground);
		color: var(--color-foreground);
	}

	.button--secondary:not([disabled]):hover,
	.button--secondary:not([disabled]):focus-visible {
		background-color: var(--color-foreground);
		color: var(--color-background);
	}

	.button--tertiary {
		@apply border-0 bg-transparent px-1 underline;

		color: var(--color-link);
	}

	.button--tertiary:not([disabled]):hover,
	.button--tertiary:not([disabled]):focus-visible {
		@apply text-gray-500;
	}
}
