@layer components {
	.button {
		border-radius: calc(infinity * 1px);
		text-align: center;
	}

	.button[disabled] {
		cursor: not-allowed;
	}

	/* Variants */
	.button--primary {
		@apply font-mono text-cta;
		
		padding-inline: calc(var(--spacing) * 3.5); /* 14px */
		padding-block: calc(var(--spacing) * 2.5); /* 10px */
		border-style: var(--tw-border-style);
		border-width: 1px;
	}

	@media (width >= 64rem /* 1024px */) {
		.button--primary {
			padding-block: 0.90625rem; /* 14.5px */
		}
	}

	.button--primary.button--icon {
		padding-left: calc(var(--spacing) * 3.5); /* 14px */
		padding-right: calc(var(--spacing) * 1.75); /* 7px */
	}

	.button--secondary {
		@apply font-mono text-cta uppercase transition-colors duration-500 ease-in;

		padding-inline: calc(var(--spacing) * 3); /* 12px */
		padding-block: calc(var(--spacing) * 1.5); /* 6px */
	}

	@media (width >= 64rem /* 1024px */) {
		.button--secondary {
			padding-block: calc(var(--spacing) * 2.5); /* 10px */
			padding-inline: calc(var(--spacing) * 5); /* 20px */
		}
	}

	.button--secondary.button--icon {
		padding-left: calc(var(--spacing) * 5); /* 20px */
		padding-right: calc(var(--spacing) * 2.5); /* 10px */
	}

	.button--secondary.button--icon svg {
		@apply transition-colors duration-500 ease-in-out;
	}

	.button--tertiary {
		@apply bg-card text-primary font-mono text-cta;

		padding: calc(var(--spacing) * 1.25); /* 5px */
	}

	@media (width >= 64rem /* 1024px */) {
		.button--tertiary {
			padding-inline: calc(var(--spacing) * 2.25); /* 9px */
			padding-block: calc(var(--spacing) * 1.75); /* 7px */
		}
	}

	.button--tertiary[disabled] {
		@apply bg-card! text-primary! border-border!;
	}

	.button--quaternary {
		@apply font-mono text-badge uppercase bg-accent text-on-accent;

		text-transform: uppercase;

		padding-block: calc(var(--spacing) * 1); /* 3px */
		padding-inline: calc(var(--spacing) * 1.75); /* 7px */
	}

	.button--quaternary.button--icon {
		padding-right: calc(var(--spacing) * 1.75); /* 7px */
		padding-left: calc(var(--spacing) * 1.25); /* 5px */
	}

	/* Color Modes */
	.button--light.button--primary {
		@apply text-primary border-primary;
	}

	.button--light.button--secondary {
		@apply bg-elevated text-primary;
	}

	.button--light.button--secondary:not([disabled]):hover,
	.button--light.button--secondary:not([disabled]):focus {
		@apply bg-card text-primary;
	}

	.button--light.button--secondary:not([disabled]):hover.button--icon svg,
	.button--light.button--secondary:not([disabled]):focus.button--icon svg {
		@apply text-primary;
	}

	.button--light.button--secondary.button--icon svg {
		@apply text-primary;
	}

	.button--light[disabled] {
		@apply bg-primary/14! text-primary! border-primary/14!;
		backdrop-filter: blur(10px);
	}

	.button--dark.button--primary {
		@apply text-primary border-primary;
	}

	.button--dark.button--secondary {
		@apply bg-card text-primary;
	}

	.button--dark.button--secondary:not([disabled]):hover,
	.button--dark.button--secondary:not([disabled]):focus {
		@apply bg-elevated text-primary;
	}

	.button--dark.button--secondary:not([disabled]):hover.button--icon svg,
	.button--dark.button--secondary:not([disabled]):focus.button--icon svg {
		@apply text-primary;
	}

	.button--dark.button--secondary.button--icon svg {
		@apply text-primary;
	}

	.button--dark[disabled] {
		@apply bg-card! text-primary! border-border!;
	}
}
