{#
 # Blocks
 #
 # This template can be embedded with Twig embed function like this:
 # {% embed 'blocks/blocks.html.twig' with { blocks: post.meta('blocks') } %}
 #     {% block prepend %}...{% endblock %}
 #     {% block body %}...{% endblock %}
 #     {% block append %}...{% endblock %}
 # {% endembed %}
 #
 # @package Nexiode
 # @author CINQ <contact@agencecinq.com> (https://agencecinq.com)
 #}

{%- if blocks -%}
	<div class="{{ html_classes( classes | default( [] ) | join( ' ' ) ) | trim }}">
		{%- block prepend -%}{%- endblock -%}

		{%- block body -%}
			{%- for block in blocks -%}
				{{-
					include(
						"blocks/#{ block.acf_fc_layout | lower | replace( { '_' : '-' } ) }.html.twig",
						{
							block: block,
							loop: loop.index0,
							classes: [ 'block-index-' ~ loop.index0 ]
						},
						ignore_missing = true
					)
				-}}
			{%- endfor -%}
		{%- endblock -%}

		{%- block append -%}{%- endblock -%}
	</div>
{%- endif -%}
