{#
 # Front page
 #
 # @package WordPress
 # @subpackage WPCinquanteEtUn
 #}

{% extends 'index.html.twig' %}

{%- block content -%}
	<main id="content">
		<h1>{{- post.title -}}</h1>
		{{- post.content -}}

		{{-
			include(
				'blocks/blocks.html.twig',
				{
					blocks: post.meta('blocks')
				}
			)
		-}}
	</main>
{%- endblock -%}
